* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 0px solid #2c2c2c;
    width: 80%;
    margin: 50px auto;
    border-radius: .25rem;
}

thead tr:first-child {
    background: #2e3539;
    color: #fff;
    border: none;
}

th:first-child,
td:first-child{
    padding: 0 15px 0 20px;
    text-align: left;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
    text-align: left;
}

tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: right;
    padding-right: 10px;
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}