    <td (click)="onRowClick()">
        <div style="display: flex">
            <div [innerHTML]="contact.name" style="flex: 1"></div>
        </div>
    </td>
    <td (click)="onRowClick()"><div [innerHTML]="contact.phone"></div></td>
    <td>
        <i class="material-icons button edit" (click)="edit()">edit</i>
        <i class="material-icons button delete" (click)="delete()">delete</i>
    </td>
