body{
    color:#444;
    background:#5cffbd;
    font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.alarm{
    width: 100%;
    position:inherit;
    background:#f5feff;
    box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.alarm a{
    color:inherit;
    text-decoration:none;
}
.alarm .top{
    height:30px;
    background:#0096a6;
}
.alarm .top .action .mini,
.alarm .top .action .maxi,
.alarm .top .action .exit,
.alarm .top .action span{
    padding:2px 5px;
    display:inline-block;
}
.alarm .top .action span{
    padding:0;
}
.alarm .top .action .mini span{
    width:10px;
    height:2px;
    background:#45b4c0;
}
.alarm .top .action .maxi span{
    width:12px;
    height:10px;
    border:2px solid #45b4c0;
}
.alarm .top .action .exit span{
    width:12px;
    height:12px;
    position:relative;
}
.alarm .top .action .exit span:before,
.alarm .top .action .exit span:after{
    top:50%;
    content:'';
    height:2px;
    width:inherit;
    position:absolute;
    background:#45b4c0;
}
.alarm .top .action .exit span:before{
    right:0;
    transform:rotate(45deg);
}
.alarm .top .action .exit span:after{
    right:0;
    transform:rotate(-45deg);
}

.alarm .slide-date{
    min-height:165px;
    position:relative;
    background:#00bcd4;
}
.alarm .slide-date .alarm-prev,
.alarm .slide-date .alarm-next{
    top:50%;
    position:absolute;
}
.alarm .slide-date .alarm-prev{
    left:20px;
}
.alarm .slide-date .alarm-next{
    right:20px;
}
.alarm .slide-date .alarm-prev span,
.alarm .slide-date .alarm-next span{
    height:2px;
    width:15px;
    display:block;
    background:#f5feff;
    position:relative;
}
.alarm .slide-date .alarm-prev span:before,
.alarm .slide-date .alarm-prev span:after,
.alarm .slide-date .alarm-next span:before,
.alarm .slide-date .alarm-next span:after{
    content:'';
    width:10px;
    height:inherit;
    position:absolute;
    background:inherit;
}
.alarm .slide-date .alarm-prev span:before{
    top:3px;
    left:-2px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.alarm .slide-date .alarm-prev span:after{
    left:-2px;
    bottom:3px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.alarm .slide-date .alarm-next span:before{
    top:3px;
    right:-2px;
    -webkit-transform:rotate(130deg);
    transform:rotate(130deg);
}
.alarm .slide-date .alarm-next span:after{
    right:-2px;
    bottom:3px;
    -webkit-transform:rotate(-130deg);
    transform:rotate(-130deg);
}
.alarm .slide-date .date{
    text-align:center;
}
.alarm .slide-date .date .dd{
    color:#f5feff;
    font-size:72px;
    font-weight:100;
    padding-top:35px;
    line-height:72px;
}
.alarm .slide-date .date .mm-yy{
    color:#007c8d;
    font-weight:400;
    padding-top:10px;
}
.alarm .day{
    color:#f5feff;
    font-size:11px;
    font-weight:400;
    background:#616161;
    text-transform:uppercase;
    box-shadow:0 2px 4px -1px rgba(0,0,0,.4) inset;
}

.alarm .alarm-content{
    overflow:hidden;
    position:relative;
}
.alarm .alarm-ul .alarm-li{
    z-index:0;
    display:block;
    padding:15px 0;
    overflow:hidden;
    position:relative;
}
.alarm .alarm-ul .alarm-li .on-off{
    display:none;
}
.alarm .alarm-ul .alarm-li:not(:last-child):after{
    left:45px;
    height:1px;
    content:'';
    position:absolute;
    background:#d0cfcf;
}
.alarm .alarm-bell{
    width:10px;
    height:10px;
    display:block;
    margin-left:5px;
    position:relative;
    background:#d0cfcf;
    border-radius:5px 5px 0 0;
}
.alarm .alarm-bell:before,
.alarm .alarm-bell:after{
    content:'';
    position:absolute;
}
.alarm .alarm-bell:before{
    top:50%;
    left:50%;
    width:4px;
    height:15px;
    margin-top:-7px;
    margin-left:-2px;
    border-radius:3px;
    background:inherit;
}
.alarm .alarm-bell:after{
    height:0;
    left:-2px;
    width:14px;
    bottom:-1px;
    border:5px solid transparent;
    border-bottom:5px solid #d0cfcf;
}
.alarm .alarm-info{
    margin-left:20px;
}
.alarm .alarm-info .alarm-time{
    color:#d0cfcf;
    font-size:34px;
}
.alarm .alarm-info .alarm-repeat span{
    color:#d0cfcf;
    font-size:10px;
    font-weight:600;
}

.alarm .alarm-ul{
    -webkit-animation:swipeIn .4s;
    animation:swipeIn .4s;
}
.alarm .alarm-ul .alarm-li .alarm-toggle{
    cursor: pointer;
    width:30px;
    display:block;
    position:relative;
}
.alarm .alarm-ul .alarm-li .alarm-toggle:before,
.alarm .alarm-ul .alarm-li .alarm-toggle:after{
    top:50%;
    content:'';
    position:absolute;
    transition:all .3s ease-in-out 0s;
}
.alarm .alarm-ul .alarm-li .alarm-toggle:before{
    left:0;
    z-index:1;
    width:15px;
    height:15px;
    margin-top:-7.5px;
    border-radius:50%;
    background:#f5feff;
    border:2px solid #7e8182;
}
.alarm .alarm-ul .alarm-li .alarm-toggle:after{
    width:30px;
    height:2px;
    display:block;
    border-radius:1px;
    background:#d0cfcf;
}

.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-bell{
    background:#2096f4;
}
.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-bell:after{
    border-bottom-color:#2096f4;
}
.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-time{
    color:#acb3b4;
}
.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-repeat span.active{
    color:#2096f4;
}
/*.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-toggle:before{*/
    /*left:15px;*/
    /*background:#2096f4;*/
    /*border-color:#2096f4;*/
/*}*/
/*.alarm .alarm-ul .alarm-li .on-off:checked + .alarm-list-inf .alarm-toggle:after{*/
    /*background:#2096f4;*/
/*}*/
.alarm .alarm-content .calendar{
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99;
    padding:15px;
    position:absolute;

    top:80px;
    left:45px;
    right:45px;
    bottom:80px;
}
.alarm .alarm-content .calendar .calendar-day{
    width:100%;
    display:table;
}
.alarm .alarm-content .calendar .calendar-day .tgl-dd{
    display:none;
}
.alarm .alarm-content .calendar .calendar-day .tgl-day{
    width:1%;
    color:#ccbf43;
    font-size:16px;
    font-weight:400;
    text-align:center;
    display:table-cell;
}
.alarm .alarm-content .calendar .calendar-day .tgl-dd:checked + .tgl-day{
    color:inherit;
}
.alarm .alarm-content .calendar .calendar-time{
    width:100%;
    display:table;
}
.alarm .alarm-content .calendar .calendar-time>div{
    width:1%;
    text-align:center;
    display:table-cell;
}
.alarm .alarm-content .calendar .calendar-time .text{
    font-weight:400;
    margin-bottom:5px;
}
.alarm .alarm-content .calendar .calendar-time select,
.alarm .alarm-content .calendar .calendar-action .btn{
    width:80%;
    color:#444;
    font-size:18px;
    font-weight:400;
    background:#fff;
    text-align:center;
    border-radius:2px;
    border:1px solid #ccc;
    box-shadow:0 1px 4px rgba(0,0,0,.4);
}
.alarm .alarm-content .calendar .calendar-time select{
    padding:8px;
}
.alarm .alarm-content .calendar .calendar-action{
    width:100%;
    display:table;
}
.alarm .alarm-content .calendar .calendar-action .button{
    min-width:1%;
    display:table-cell;
}
.alarm .alarm-content .calendar .calendar-action .btn{
    border-radius:0;
    padding:10px 15px;
}
.alarm .alarm-content .calendar .calendar-action .btn.btn-danger{
    color:#eee;
    background:#ff5151;
    border-color:transparent;
}

.alarm .tgl{
    display:none;
}
.alarm .toggle{
    cursor: pointer;
    z-index:99;
    right:15px;
    width:45px;
    height:45px;
    display:block;
    position:absolute;
    margin-right: 10%;
    border-radius:50%;
    background: #1abc9c;
    box-shadow:0 3px 2px rgba(0,0,0,.4);
    transition:all .4s ease-in-out 0s;
}
.alarm .toggle:hover {
    cursor: pointer;
    z-index:99;
    right:15px;
    width:45px;
    height:45px;
    display:block;
    position:absolute;
    margin-right: 10%;
    border-radius:50%;
    background: #12ff98;
    box-shadow:0 3px 2px rgba(0,0,0,.4);
    transition:all .4s ease-in-out 0s;
}

.alarm .toggle:before,
.alarm .toggle:after{
    top:50%;
    left:50%;
    content:'';
    width:12px;
    height:2px;
    background:#444;
    margin-top:-2px;
    margin-left:-6px;
    position:absolute;
}
.alarm .toggle:before{
    transform:rotate(90deg);
}

.alarm .alarm-content .calendar-wrap{
    top:50%;
    left:50%;
    z-index:1;
    width:400px;
    height:400px;
    overflow:hidden;
    border-radius:50%;
    position:absolute;
    margin-left:-200px;
    background: #398946;
    -webkit-transform:translate(117px,-154px) scale(0);
    transform:translate(117px,-154px) scale(0);
    transition:all .4s ease-in-out 0s;
}
/*.alarm .tgl:checked + .toggle + .alarm-content .alarm-ul{*/
    /*-webkit-animation:swipeOut .3s;*/
    /*animation:swipeOut .3s;*/
/*}*/
/*.alarm .tgl:checked + .toggle{*/
    /*transform:translate(-80px,100px) scale(0);*/
/*}*/
/*.alarm .tgl:checked + .toggle + .alarm-content .calendar-wrap{*/
    /*-webkit-transform:translate(0) scale(1);*/
    /*transform:translate(0) scale(1);*/
/*}*/
@-webkit-keyframes swipeIn{
    0%{
        opacity:0;
        visibility:hidden;
        -webkit-transform:translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    100%{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);

    }
}
@keyframes swipeIn{
    0%{
        opacity:0;
        visibility:hidden;
        transform:translate3d(-100%,0,0);
    }
    100%{
        transform:translate3d(0,0,0);
    }
}
@-webkit-keyframes swipeOut{
    0%{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
    }
    100%{
        opacity:0;
        visibility:hidden;
        -webkit-transform:translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
}
@keyframes swipeOut{
    0%{
        transform:translate3d(0,0,0);
    }
    100%{
        opacity:0;
        visibility:hidden;
        transform:translate3d(-100%,0,0);
    }
}


/**********************************/
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="number"],
.form-style-5 input[type="email"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}

.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #1abc9c;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #0fd37c;
}


.show{
    opacity: 1 !important;
}
.step{
    opacity: 0;
    transition: .5s ease-in-out all;
}

.snapjs-left .snap-drawer-left {
    overflow:visible;
    z-index:5;
}

.clear {
    position: absolute;
    right:5%;
}

.chat{
    color: #1abc9c;
    text-align: center;
}
.call{
    color: #1abc9c;
    text-align: center;

}
.chat:hover{
    color: #0fd37c;
}
.call:hover{
    color: #0fd37c;
}
.abortButton {
    height: 20%;
    width: 30%;
    position: relative;
    display: block;
    color: #FFF;
    margin: 0 auto;
    background: #2fa05f;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-top: 5%;
}
.abortButton:hover {
    background: #12ff98;
}