<div id="addpanel" [class.show]="isAddPanelVisible" class="form-style-5 step" style=" position: absolute; margin-left: 35%; top:15%;">
    <form onsubmit="return false;">
        <fieldset>
            <legend><span class="number">#</span> Contact Info <i class="material-icons button clear" (click)="isAddPanelVisible = false; editing = false;setAddPanelZIndex()">clear</i></legend>
            <input id="add_name" type="text" name="name" placeholder="Name" value="{{name_val}}" #Name>
            <input id="add_phone" type="text" name="phone" placeholder="Phone" value="{{phone_val}}" #Phone>
        </fieldset>
        <input type="submit" value="Apply" (click)="addContact(Name.value, Phone.value)" />
    </form>
</div>
<div id="callpanel" [class.show]="isCallingVisible" class="form-style-5 step" style=" position: absolute; margin-left: 39%; top:15%; height: 300px; width: 400px;">
    <form onsubmit="return false;">
        <fieldset>
            <legend><span class="number">#</span> Calling {{name_call_val}} <i class="material-icons button clear" (click)="isCallingVisible = false; editing = false;setAddPanelZIndex()">clear</i></legend>
        </fieldset>
        <img src="../../../assets/calling.gif" style="height: 20%; width: 65%; margin-left: 19%">
        <button class="abortButton" (click)="isCallingVisible = false; editing = false;setAddPanelZIndex()">Abort</button>
    </form>
</div>
<table id="table" style="position: absolute; margin-left: 11%; top: 12.2%;">
    <thead>
    <tr style="height: 60px;">
        <th colspan="3">Contacts
            <div class="alarm" style="position: absolute; top: 1%; right: -10%;">
                <input id="main-toggle" type="checkbox" class="tgl" (click)="PlusPressed()"><label for="main-toggle" class="toggle"></label>
            </div>
        </th>
    </tr>
    <tr>
        <th>Name</th>
        <th colspan="2">Number</th>
    </tr>
    </thead>
    <tbody>
    <tr my-tr *ngFor="let row of contacts" style="cursor:pointer"
        [contact]="row" (onDeleted)="getAll();isCallingVisible = false;isAddPanelVisible = false; editing = false;setAddPanelZIndex();$event.stopPropagation();"
        (onEdit)="isCallingVisible = false;isAddPanelVisible = (editContact != $event || !isAddPanelVisible); editing = true; name_val=$event.name;  phone_val=$event.phone; editing = true; editContact = $event; setAddPanelZIndex();"
        [filteredResult] = "filteredResult" [filter]="filter"
        (onCall)="name_call_val=$event.name;  phone_call_val=$event.phone;isCallingVisible = true; isAddPanelVisible = false;setAddPanelZIndex()"
    >{{row}}
    </tr>
    </tbody>
</table>
